@import "normalize.scss";

* {
	box-sizing: border-box;
}

$azulOscuro: #133C55;
$azulClarito: #1282A2;
$verde: #157A6E;
$flashReverso: #FABB00;
$gris: #f2f2f2;

html {
	height: 100%;
}
header {

	div{
		display: flex;
		justify-content: space-between;
		background-color: $azulOscuro;
		position: absolute;
		width: 100%;
		padding: 10px 5%;

		img {
			margin: 10px 10px 10px 30px;
		}

		nav {
			display: flex;
		    flex-flow: row wrap;
		    justify-content: space-around;
		    margin: 30px 50px 20px 20px;
		    list-style-type: none;

		    li {
		    	margin: 0px 10px;

				a {
					color: $flashReverso;
				}
		    }
		}
	}

	#indexHeader {
		background-color: transparent;
	}
}

section#imagen{

	video {
		min-width:100%;
		min-height: 100%;
	}
	i{
		font-size: 5em;
		position: absolute;
		bottom: 70px;
		left: 50%;
		color: white;
	}
}

section#searchBar{
	form {
		ul {
			display: flex;
			justify-content: center;
			margin: 10px 10%;
			list-style-type: none;
		}

		#selectCity {
			display: none;
		}

		#busquedaText {
			width: 50%;
			input {width: 100%;}
		}
	}

	button {
		background-color: $verde;
		color: white;
		border: solid 1px $azulOscuro;
		padding: 5px 20px;
		transition: ease-in-out 0.3s;
		cursor: pointer;

		&:hover{
			background-color: #1D567A;
		}
	}
}

section#destacados{
	background-color: $gris;

	div#films {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		a {
			display: flex;
			width: 19%;
			margin: 0px 5px 10px;
			height: 230px;
			background-size: cover;
			text-decoration: none;
			flex-flow: column;
			justify-content: space-between;

			h3 {
				text-align: center;
				color: #fff;
			}
		}
	}

	h2 {
		display: flex;
		justify-content: center;
		width: 80%;
		padding-top: 10px;
		margin-right: 10%;
		margin-left: 10%;
	}
}

footer {
	background-color: $azulOscuro;
	color: white;

	#zonas {
		display: flex;
		justify-content: space-around;
		padding: 0 0 10px 0;
		border-style: none none solid;
		border-color: white;
		margin: 0 15%;
		border-width: 1px;
		padding-top: 20px;

		ul {
		 	list-style-type: none;
		}
	}

	#contacta {
		//Esto no está bien, pero bueno, por ahora se queda centrado
		display: flex;
		justify-content: center;
		margin: 10px 20%;

		#social {
			display: flex;
			justify-content: center space-around;
			//margin: 10px 15%;
		}
	}

	p {
		display: flex;
		justify-content: center;
		margin: 30px 50px 0px;
		padding: 0 0 15px;
	}
}
