@import "normalize.scss";

* {
	box-sizing: border-box;
}

$azulOscuro: #133C55;
$azulClarito: #1282A2;
$verde: #157A6E;
$flashReverso: #FABB00;
$gris: #e9e9e9;

html {
	height: 100%;
}


header {

	#indexHeader {
		position: absolute;
	}

	div{
		display: flex;
		justify-content: space-between;
		background-color: $azulOscuro;

		width: 100%;
		padding: 10px 5%;

		img {
			margin: 10px 10px 10px 30px;
		}

		nav {
			display: flex;
		    flex-flow: row wrap;
		    justify-content: space-around;
		    margin: 30px 50px 20px 20px;
		    list-style-type: none;

		    li {
		    	margin: 0px 10px;

				a {
					color: $flashReverso;
				}
		    }
		}
	}

	#indexHeader {
		background-color: transparent;
	}
}

section#main {
	background-color: $gris;
}

section#imagen{

	video {
		width:100%;
		min-height: 100%;
	}
	i{
		font-size: 5em;
		position: absolute;
		bottom: 70px;
		left: 50%;
		color: white;
	}
}

#ui-id-1 {
	max-height: 30%;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid $azulOscuro;

	li div {
		background-color: white;
		transition: ease-in-out  0.1s;
		border: none;

		&:hover{
			cursor: pointer;
			color: white;
			background-color: $azulOscuro;
		}
	}
}

section#searchBar{

	border-style: none none solid;
	border-width: 1px;
	width: 80%;
	margin: 0px 10%;

	form {
		ul {
			display: flex;
			justify-content: center;
			margin: 10px 10%;
			list-style-type: none;
		}

		#selectCity {
			display: none;
		}

		#busquedaText {
			width: 50%;

			input {
				width: 100%;
				padding: 5px 20px;
				border: solid 1px #133C55;
			}
		}

		#addFiltros {

			.fa-minus-square{
				display: none;
			}

			a {
				font-size: 2em;
				margin: 0px 10px;
				color: $azulOscuro;
				transition: ease-in-out 0.4s;
				cursor: pointer;

				&:hover {
					color: $azulClarito;
				}
			}

		}

		#filtros {
			display: none;
			justify-content: flex-end;
			margin-right: 26%;
			transition: ease-in-out 0.5s;

			li {
				margin: 0px 5px;
			}
		}

	}

	button {
		background-color: $verde;
		color: white;
		border: solid 1px $azulOscuro;
		padding: 5px 20px;
		transition: ease-in-out 0.3s;
		cursor: pointer;

		&:hover{
			background-color: #1D567A;
		}
	}
}

section#destacados{

	div#films {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		a {
			display: flex;
			width: 19%;
			margin: 0px 5px 10px;
			height: 230px;
			background-size: cover;
			text-decoration: none;
			flex-flow: column;
			justify-content: space-between;

			h3 {
				text-align: center;
				color: #fff;
			}
		}
	}

	h2 {
		display: flex;
		justify-content: center;
		width: 80%;
		padding-top: 10px;
		margin-right: 10%;
		margin-left: 10%;
	}
}

section#search {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background-color: #eee;

	#results {
		display: flex;
		flex-flow: column;
		width: 55%;

		& > div {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: stretch;
			padding-top: 2em;

			& > div {
				display: flex;
				flex-flow: column;
				justify-content: space-around;
				border: 1px solid #ddd;
				width: 30%;
				flex-basis: 30%;
				background-color: white;
				margin: 2em 1%;

				img {
					width: 90%;
					margin: .5em auto;
				}
				h3 {
					margin: .5em 1em;
				}
				div.showtimes {}
				div.buy {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-around;
					margin: 1em;

					span {
						flex-basis: 65%;
						width: 65%;
						align-self: center;

						input {
							max-width: 30%;
						}
						label {
							margin-left: .5em;
							max-width: 65%;
						}
					}
					a {
						padding: .3em .5em;
						background-color: $verde;
						color: white;
						border-radius: .5em;
						border: 2px solid $verde;
						transition: all .3s ease-in-out;
						flex-basis: 30%;
						text-decoration: none;
						font-weight: bold;

						&:hover {
							background-color: white;
							color: $verde;
						}
					}
				}
			}
		}
	}
	.map {
		width: 45%;
		border-left: 1px solid black;
	}
}

footer {
	background-color: $azulOscuro;
	color: white;

	#zonas {
		display: flex;
		justify-content: space-around;
		padding: 0 0 10px 0;
		border-style: none none solid;
		border-color: white;
		margin: 0 15%;
		border-width: 1px;
		padding-top: 20px;

		ul {
		 	list-style-type: none;
		}
	}

	#contacta {
		//Esto no está bien, pero bueno, por ahora se queda centrado
		display: flex;
		justify-content: center;
		margin: 10px 20%;

		#social {
			display: flex;
			justify-content: center space-around;
			//margin: 10px 15%;
		}
	}

	p {
		display: flex;
		justify-content: center;
		margin: 30px 50px 0px;
		padding: 0 0 15px;
	}
}
