{% extends "layout.html" %}


{% block content %}


	<section id="butacas">
		<div id="salas">
		</div>
	</section>

	<section id='compra'>
		{{ showtime.cinema.name }}
		{{ showtime.movie.title }}
		{{ showtime.time }}
		{{ number }}
	</section>

{% endblock %}

{% block scripts %}
	<script>		
		var sala = {{ butacas }}; //Se elige aleatoriamente entre las salas posibles.
		sala = sala[parseInt(Math.random()*2)];
		for (i in sala) {
			for (k in sala[i]) {
				var butaca = Math.random()*10;
				var probab = Math.random()*10;
				if (butaca > probab) {
					sala[i][k]=1;
				}
			}
		}
	</script>

{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/buy.js') }}"></script>
{% endblock %}