{% extends "layout.html" %}

{% block content %}

<section id="compra">
	<section id="butacas">
        <h3>Selecciona la butaca que más te guste</h3>

		<div id="salas">
		</div>

		<div id="pantalla"></div>

		<div id="leyendaSala">
			<i class="fa fa-circle rojo"></i> Ocupada
			<i class="fa fa-circle verde"></i> Libre
			<i class="fa fa-circle amarillo"></i> Seleccionada
		</div>
	</section>

	<section id="resumen">
        <form action="/buyEnd" method="post">
            <h2>Ya casi está</h2>

            <article id="info">
                <div>
					<img id="showtimepelicula" src="//cine.entradas.com/entradas/contenidos/peliculas/{{ showtime.movie.cartel }}" alt="{{ showtime.movie.title }}"/>
					<p>{{ showtime.movie.title }}</p>
					<input type="hidden" name="pelicula" value="{{ showtime.movie.title }}">
					<input type="hidden" name="id_pelicula" value="{{ showtime.movie.cartel  }}">
				</div>

                en

                <div>
					<img id="showtimecine" src="https://maps.googleapis.com/maps/api/streetview?size=400x200&location={{ showtime.cinema.street }},{{ showtime.cinema.city }}" alt="{{ showtime.cinema.name }}" />
            		<p>{{ showtime.cinema.name }}</p>
            		<input type="hidden" name="cine" value="{{ showtime.cinema.name }}">
            		<input type="hidden" name="maps_cine" value="{{ showtime.cinema.street }},{{ showtime.cinema.city }}">
				</div>
             </article>


             <article id="fecha">
				<b>{{ date.strftime("%A %d/%m") }}</b>
				a las
         		<b>{{ showtime.time }}</b>
         		<input type="hidden" name="fecha" value="{{ date.strftime("%A %d/%m") }}">
         		<input type="hidden" name="horario" value="{{ showtime.time }}">
             </article>

             <article id="entradas">
                <span>
                </span>
                <input type="hidden" name="entradas" value="{{ number }}"> 
            </article>

             <article id="showButacas">
				<a href="?">
                	<i class="fa fa-search-plus"></i>
					<ul id="butacasSelect">
					</ul>
				</a>

             </article>

             <article id="showComplements">
				<a href="?">
                	Complementos
                	<i class="fa fa-plus-square"></i>
				</a>
             </article>

             <article id="precios">
             	<div>
             		<span id="conteo">Entradas: {{ number }}</span><br>
             		<span id="total"></span>
             	</div>

             </article>

             <article id="payment">
                 <h3>Métodos de pago</h3>

				<div id="methods">
	                 <label><input type="radio" name="payment_t" value="0"> PayPal</label>
	                 <label><input type="radio" name="payment_t" value="1"> Tarjeta bancaria</label>
				</div>

                 <div id="card" style="display: none">
                    <i class="fa fa-credit-card big"></i>
                    <div>
                        <div class="card_number">
                            <i class="fa fa-credit-card"></i>
                            <input type="text" placeholder="Card Number" id="card_number" />
                        </div>
                        <div class="card_expiration">
                            <i class="fa fa-calendar-times-o"></i>
                            <input type="text" maxlength="7" placeholder="MM / YY" id="card_expiration"/>
                        </div>
                        <div class="card_cvx">
                            <i class="fa fa-lock"></i>
                            <input type="text" maxlength="4" placeholder="CVC" id="card_cvx"/>
                        </div>
                        <p class="errors"></p>
                    </div>
                </div>


             </article>

             <button class="action-button" type="submit">Confirmar</button>
        </form>
	</section>

	<section id="complements">
		<h3>Añade complementos a tu entrada</h3>

		<p>
			Este cine te permite comprar complementos. Te tendremos preparado lo que pidas aquí para recoger tan solo enseñando tu entrada.
		</p>

		<ul id="complement">
		</ul>
	</section>

</section>
{% endblock %}

{% block scripts %}
	<script>
		var complementsOptions = [
			{
				name: 'Palomitas',
				image: '{{ url_for("static", filename="images/popcorn.png") }}',
				price: 2.50
			},
			{
				name: 'Nachos',
				image: '{{ url_for("static", filename="images/nachos.png") }}',
				price: 4
			},
			{
				name: 'Coca Cola',
				image: '{{ url_for("static", filename="images/cola.png") }}',
				price: 1.80
			},
			{
				name: 'Coca Cola Zero',
				image: '{{ url_for("static", filename="images/cola-zero.png") }}',
				price: 2
			},
			{
				name: 'Nestea',
				image: '{{ url_for("static", filename="images/nestea.png") }}',
				price: 2.5
			},
			{
				name: 'Golosinas',
				image: '{{ url_for("static", filename="images/golosina.png") }}',
				price: 1
			}
		];
		var complements = [
			{
				name: 'Palomitas',
				amount: 0,
				price: 2.50
			},
			{
				name: 'Nachos',
				amount: 0,
				price: 4
			},
			{
				name: 'Coca Cola',
				amount: 0,
				price: 1.80
			},
			{
				name: 'Coca Cola Zero',
				amount: 0,
				price: 2
			},
			{
				name: 'Nestea',
				amount: 0,
				price: 2.5
			},
			{
				name: 'Golosinas',
				amount: 0,
				price: 1
			}
		];
		var predef = {{ number }}; //Número de butacas aleatorias
		var sala = {{ butacas }}; //Se elige aleatoriamente entre las salas posibles.
		var butacasSelect = []
		sala = sala[parseInt(Math.random()*3)];
		for (i in sala) {
			for (k in sala[i]) {
				var butaca = Math.random()*10;
				var probab = 2*(Math.random()*5);
				if (butaca > probab) {
					if (predef != 0) {
						predef--;
						sala[i][k] = 2;
						//[fila seleccionada, columna]
						butacasSelect.push([sala.length-i, sala[i].length-k]);
					} else {
						sala[i][k]=1;
					}
				}
			}
		}
	</script>

{{ super() }}
<script type="text/javascript" src="{{ url_for("static", filename="js/buy.js") }}"></script>
{% endblock %}
