{% extends "layout.html" %}

{% block content %}

<section id="compraFinalizada">
    <h1>¡Su compra ha finalizado con exito!</h1>

            <article id="info">
                <div>
                    <img id="showtimepelicula" src="//cine.entradas.com/entradas/contenidos/peliculas/{{ cartel }}" alt="{{pelicula}}"/>
                    <p>{{pelicula}}</p>
                </div>

                en

                <div>
                    <img id="showtimecine" src="https://maps.googleapis.com/maps/api/streetview?size=400x200&location={{ location }}" />
                    <p>{{cine}}</p>
                </div>
             </article>


             <article id="fecha">
                <b>{{date}}</b> a las <b>{{showtime}}</b>
             </article>

             <article id="showButacas">
                 <ul>
                    {% for butaca in butacas %}
                        <li> {{butaca}} </li>
                    {% endfor %}

                    {% if golosinas > 0 %}
                        <li>Golosinas x {{golosinas}}</li>
                    {% endif %}

                    {% if nestea > 0 %}
                        <li>Nestea x {{nestea}}</li>
                    {% endif %}

                    {% if cola > 0 %}
                        <li>Coca-Cola x {{cola}}</li>
                    {% endif %}

                    {% if colaZ > 0 %}
                        <li>Coca-Cola Zero x {{colaZ}}</li>
                    {% endif %}

                    {% if nachos > 0 %}
                        <li>"Nachos x {{nachos}}</li>
                    {% endif %}

                    {% if palomitas > 0 %}
                        <li>Palomitas x {{palomitas}}</li>
                    {% endif %}
                 </ul>
             </article>

             <article id="precios">
                Precio total: {{precio}} €

             </article>

    <article id="pdf">
        <p>Descargue el siguiente documento y preséntelo en taquilla para recoger sus entradas</p>
        <button type="button" class="action-button" onclick="generatePDF()">Descargar PDF</button>
    </article>

    <h2> ¡Muchas gracias por confiar en entradas.com! </h2>
    <br>
    <br>
    <a href='/'><button type="button" class="action-button">Volver al inicio </button></a>

</section>
{% endblock %}

{% block scripts %}


<script>

function generatePDF() {

    var i = 0; // La usaremos para controlar los saltos de linea
    var desplazamiento = 0; // Servira para recolocar los elementos del pdf
    var desplazamientoB = 0; // Servira para recolocar los elementos del pdf
    var desplazamientoC = 0; // Servira para recolocar los elementos del pdf
    var coma = 0; // necesaria para poner la coma correctamente en los complementos.
    var logo = new Image();
    logo.src = 'static/images/logo.png';
    var codebar = new Image();
    codebar.src = 'static/images/codeBar.jpg';

    var butacasNum = "";
        {% for butaca in butacas %}
            {% if loop.last %}
            butacasNum += "{{butaca}}.";
            {% else %}
                butacasNum += "{{butaca}}, ";
            {% endif %}

            i++;
            if (i == 3){
                i = 0;
                butacasNum += "\n                               ";
                desplazamientoB += 5;
            }

        {% endfor %}

    var complementos = "";
    i = 0;
    {% if golosinas > 0 %}
        complementos += "Golosinas x {{golosinas}}";
        coma++;
        i++;

    {% endif %}

    {% if nestea > 0 %}
        if(coma == 1){
            complementos += ", ";
            coma--;
        }
        coma++;
        complementos += "Nestea x {{nestea}}";
        i++;

    {% endif %}

    {% if cola > 0 %}
        if(coma == 1){
            complementos += ", ";
            coma--;
        }
        coma++;
        complementos += "Coca-Cola x {{cola}}";
        i++;

    {% endif %}

    {% if colaZ > 0 %}
        if(coma == 1){
            complementos += ", ";
            coma--;
        }
        if (i == 3){
           complementos += "\n                               "; 
           desplazamientoC += 4;
        }
        coma++;
        complementos += "Coca-Cola Zero x {{colaZ}}";
        i++;

    {% endif %}

    {% if nachos > 0 %}
        if(coma == 1){
            complementos += ", ";
            coma--;
        }
        if (i == 3){
           complementos += "\n                               "; 
           desplazamientoC += 4;
        }
        coma++;
        complementos += "Nachos x {{nachos}}";
        i++;

    {% endif %}

    {% if palomitas > 0 %}
        if(coma == 1){
            complementos += ", ";
            coma--;
        }
        if (i == 3){
           complementos += "\n                               ";
           desplazamientoC += 4;
        }
        coma++;
        complementos += "Palomitas x {{palomitas}}";
    {% endif %}

    if(coma == 1){
      complementos += ".";
    }
    desplazamiento = desplazamientoB+desplazamientoC;


    var doc = new jsPDF();
    doc.setFontSize(16);

    doc.setFillColor(19,60,85);
    doc.rect(0, 0, 400, 70, 'F'); //Rectangulo logo

    doc.addImage(logo, 'PNG', 20, 10, 60, 50);      //Imagen del logo

    doc.setFillColor(233,233,233);
    doc.rect(0, 70, 400, 75+desplazamiento, 'F'); //Rectangulo way




    doc.text(20, 90,  'Cine:                      {{cine}}');               //Cine
    doc.text(20, 100, 'Película:                 {{pelicula}}');               //Peli
    doc.text(20, 110, 'Horario:                  {{showtime}}');               //Horario
    doc.text(20, 120, 'Butacas:                 '+ String(butacasNum));    //butacas
    doc.text(20, 130+desplazamientoB, 'Complementos:     '+ complementos);    //complementos
    doc.text(20, 140+desplazamiento, 'Precio total:            {{precio}} €');               //precio

    doc.setFillColor(0,0,0);
    doc.rect(0, 145+desplazamiento, 400, 1, 'F'); //Linea divisora

    doc.addImage(codebar, 'JPG', 26, 166+desplazamiento, 155, 45);               //Ćódigo de barras

    doc.setFillColor(0,0,0);
    doc.rect(0, 235+desplazamiento, 400, 1, 'F'); //Linea divisora

    doc.setFontSize(12);
    doc.text(20, 265, 'Cupón válido para la sesión del {{date}}.');
    doc.text(20, 275, 'Precio por entrada 4,90€ (todas las entradas para la misma película y sesión).');
    doc.text(20, 285, 'No se permitirán devoluciones de las entradas.');               //terminos de uso


    // Save the PDF
    doc.save('Entradas.pdf');
}

    </script>

{{ super() }}
<script src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
{% endblock %}
