{% extends "layout.html" %}


{% block header %}
<div id='indexHeader'>
	<img alt='logo' id='logo' src='static/images/logo.png'>
	<nav>
		<li><a href="#">Ayuda</a></li>
		<li><a href="#">Regístrate</a></li>
		<li><a href="#">Inicia Sesión</a></li>
	</nav>
</div>
{% endblock %}

{% block content %}
<section id='imagen'>
    <video  loop class="fillWidth">
        <source src="static/videos/A-Director-View.webm" type="video/webm" />
    </video>
   <a href='#searchBar'><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
</section>

<section id='searchBar'>
	<form action='?' method='get'>
		<ul>
			<li>
				<input type='text' placeholder="Película o cine"/>
			</li>
			<li>
				<select name="" id="">
					{% for r in cities %}
					<option value="{{ city }}">{{ r.city }}</option>
					{% endfor %}
				</select>
			</li>
			<li>
				<button type='submit'>Buscar</button>
			</li>
		</ul>
	</form>
</section>

<section id='destacados'>
	<h2> Top 10 </h2>

	<div id='films'>
		{% for movie in premieres %}
		<a href='/searchcinemas?movie_id={{ movie.id }}' style="background-image: url('http://cine.entradas.com/entradas/contenidos/peliculas/{{ movie.cartel }}')">
			<h3>{{ movie.title }}</h3>
		</a>
		{% endfor %}
	</div>
</section>

{% endblock %}
