{% extends "layout.html" %}


{% block header %}
<div id='indexHeader'>
	<a href='/'><img alt='logo' id='logo' src='static/images/logo.png'></a>
	<nav>
		<li><a href="/contacto">Ayuda</a></li>
		<li><a href="#">Regístrate</a></li>
		<li><a href="#">Inicia Sesión</a></li>
	</nav>
</div>
{% endblock %}

{% block content %}
<section id='imagen'>
	
    <video autoplay loop class="fillWidth">
        <source src="static/videos/A-Director-View.webm" type="video/webm" />
    </video>
    <div id="sombra">
	</div>
	<h1>Tus entradas <span>de cine</span></h1>

	<section id='searchBar'>
		<form method="GET" action="?" class="search">
			<ul>
				<li id='busquedaText'>
					<input id='inputText' type='text' placeholder="Película o cine"/>
				</li>
				<li id="selectCity">
					<select name="city">
						<option value="">Ciudades (todas)</option>
						{% for r in cities %}
						<option value="{{ r.city }}">{{ r.city }}</option>
						{% endfor %}
					</select>
				</li>

				<li id='showFiltros'>
					<span id='addFiltros' class="fa-stack fa-lg">
						<i class='fa fa-square fa-stack-2x'></i>
						<i class='fa fa-plus fa-stack-1x'></i>
						<i class='fa fa-minus fa-stack-1x'></i>
					</span>
					<br>
					Filtros
				</li>

				<li>
					<input id="hidden" type="hidden" name="" value="">
					<button id="busqueda" type="submit" disabled><i class='fa fa-search'></i>Buscar</button>
				</li>
			</ul>
			<ul id='filtros'>
				<li>
					<label><input type="checkbox" id="2d" name="d2" {{ d2 if d2 != None }}/>2D</label>
					<label><input type="checkbox" id="3d" name="d3" {{ d3 if d3 != None }}/> 3D</label>
					<label><input type="checkbox" id="vose" name="vose" {{ vose if vose != None }}/> VOSE </label>
					<label> <input type="date" name="date" value="{{ date }}"> Fecha</label>
				</li>
			</ul>
		</form>
	</section>
</section>

<section id='destacados'>
	<h2> Top 10 </h2>

	<div id='films'>
		{% for movie in premieres %}
		<a href='/searchcinemas?movie_id={{ movie.id }}' style="background-image: url('//cine.entradas.com/entradas/contenidos/peliculas/{{ movie.cartel }}')">
			<!-- <h3>{{ movie.title }}</h3> -->
		</a>
		{% endfor %}
	</div>
</section>

{% endblock %}
