{% extends "layout.html" %}


{% block header %}
<div id='indexHeader'>
	<img alt='logo' id='logo' src='static/images/logo.png'>
	<nav>
		<li>Ayuda</li>
		<li>Regístrate</li>
		<li>Inicia Sesión</li>
	</nav>
</div>
{% endblock %}

{% block content %}
<div id='imagen'>
</div>

<div class='searchBar'>
	<form class = 'busqueda' action= '' method='get'>
	<ul>
		<li>
			<select id='categoria' name='categoria'>
				<option default name='Película' value='pelicula'> Película</option>
				<option name='Cine' value='cine'> Cine </option>
			</select>
		</li>
		<li>
			<input type='text' value=></input>
		</li>
		<li>
			<span>Día</span>
			<input type='date' value=></input>
		</li>
		<li>
			<span>Ciudad</span>
			<input type='text' value=>

			</input>
		</li>
		<li>
			<button type='submit'>Buscar</button>
		</li>
	</ul>
	</form>
</div>

<div id='destacados'>
</div>

{% endblock %}