<!DOCTYPE html>
<html lang="es">
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>{% block title %}kinegraphus.com - Entradas de cine{% endblock %}</title>

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-clockpicker.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

		{% endblock %}
	</head>

	<body>

		<header>
			{% block header %}
			<div>
				<a href="/"><img alt='logo' id='logo' src='static/images/logo.png'></a>

				<section id='barBusq'>
					<ul>
						<li id='busquedaText'>
							<input id='inputText' type='text' placeholder="Película o cine" value=''/>
						</li>
						<li id="selectCity">
							<select>
								<option value="">Ciudades </option>
								{% for r in cities %}
								<option value="{{ r.city }}">{{ r.city }}</option>
								{% endfor %}
							</select>
						</li>
						<li>
							<a id='aBusqueda'><button id='busqueda' type='button'><i class='fa fa-search'></i>Buscar</button></a>
						</li>
					</ul>
				</section>

				<nav>
					<li><a href="#">Ayuda</a></li>
					<li><a href="#">Regístrate</a></li>
					<li><a href="#">Inicia Sesión</a></li>
				</nav>
			</div>
			{% endblock %}
		</header>

		<section id="main">
			{% block content %}{% endblock %}
		</section>

		<footer>
			<section id='zonas'>
				<ul>
					Empresa
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					Ayuda y Contacto
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					Servicios
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					B2B
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
			</section>

			<section id='contacta'>
				Siguenos en
				<div id='social'>
				</div>
			</section>

			<p>kinegraphus.com</p>
		</footer>

		{% block scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% endblock %}
	</body>

</html>
