<!DOCTYPE html>
<html lang="es">
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>{% block title %}kinegraphus.com - Entradas de cine{% endblock %}</title>

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.css') }}">
		{% endblock %}
	</head>

	<body>

		<header>
			{% block header %}
			<div>
				<img alt='logo' id='logo' src='static/images/logo.png'>
				<nav>
					<li><a href="#">Ayuda</a></li>
					<li><a href="#">Regístrate</a></li>
					<li><a href="#">Inicia Sesión</a></li>
				</nav>
			</div>
			{% endblock %}
		</header>

		<section id="main">
			{% block content %}{% endblock %}
		</section>

		<footer>
			<section id='zonas'>
				<ul>
					Empresa
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					Ayuda y Contacto
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					Servicios
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					B2B
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
			</section>

			<section id='contacta'>
				Siguenos en
				<div id='social'>
				</div>
			</section>

			<p>kinegraphus.com</p>
		</footer>

		{% block scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% endblock %}
	</body>

</html>
