<!DOCTYPE html>
<html lang="es">
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>{% block title %}entradas.com{% endblock %}</title>

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.css') }}">
		{% endblock %}
	</head>

	<body>

		<header>
			{% block header %}
			<div>
				<img alt='logo' id='logo' src='static/images/logo.png'>
				<nav>
					<li>Ayuda</li>
					<li>Regístrate</li>
					<li>Inicia Sesión</li>
				</nav>
			</div>
			{% endblock %}
		</header>

		<section>
			{% block content %}{% endblock %}
		</section>
		
		<footer>
			<div id='zonas'>
				<ul>
					Empresa
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					Ayuda y Contacto
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					Servicios
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
				<ul>
					B2B
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
					<li> Lorem Ipsum</li>
				</ul>
			</div>

			<div id='contacta'>
				Siguenos en
				<div id='social'>
				</div>
				
			</div>
			<span>@ Entradas.com</span>
		</footer>

		{% block scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% endblock %}
	</body>

</html>
