{% extends "layout.html" %}
{% block title %}kinegraphus.com - Búsqueda de cines{% endblock %}

{% block content %}

<section class="search">
    <div class="results">
        <div class="filters">
            <form action="?" method="get">
                <input type="hidden" name="movie_id" value="{{ movie_id }}">

                <select>
					{% for r in cities %}
					<option value="{{ city }}">{{ r.city }}</option>
					{% endfor %}
				</select>

                
            </form>
        </div>

        <div class="cinemas">
            {% for cinema in cinemas %}
                <div class="cinema" data-id="{{ cinema.id }}">
                    <img width="100%" src="https://maps.googleapis.com/maps/api/streetview?size=400x200&location={{ cinema.street }},{{ cinema.city }}" alt="{{ cinema.name }}" />
                    <h3>{{ cinema.name }}</h3>
                    <div class="showtimes">
                    </div>
                    <div class="buy">
                        <span>
                            <input type="number" id="value" value="1">
                            <label for="value">x 4,90 €</label>
                        </span>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="map">

    </div>
</section>

{% endblock %}
