{% extends "layout.html" %}
{% block title %}kinegraphus.com - Búsqueda de cines{% endblock %}

{% block content %}

<section id="search">
    <div id="results">
        <div id="filters">
            <form action="?" method="get">
                <input type="hidden" name="movie_id" value="{{ movie_id }}">

                <select name="city">
                    <option value="">Todas</option>
					{% for r in cities %}
					<option value="{{ r.city }}" {% if r.city == city %}selected{% endif %}>{{ r.city }}</option>
					{% endfor %}
				</select>
            </form>
        </div>

        <div id="cinemas">
            {% for cinema in cinemas %}
                <div class="cinema" data-id="{{ cinema.id }}">
                    <img width="100%" src="https://maps.googleapis.com/maps/api/streetview?size=400x200&location={{ cinema.street }},{{ cinema.city }}" alt="{{ cinema.name }}" />
                    <h3>{{ cinema.name }}</h3>
                    <ul class="showtimes">
                        {% for time in cinema.show_times %}
                            {% if time.movie_id|int() == movie_id|int() %}
                                <li>
                                    <input id="time-{{ time.movie_id}}-{{ time.time }}" type="radio" name="time" value="{{ time.time }}">
                                    <label for="time-{{ time.movie_id}}-{{ time.time }}">{{ time.time }}</label>
                                    <span class="fa fa-signal color{{ randoms|random }}" aria-hidden="true"></span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="buy">
                        <span>
                            <input type="number" id="value" value="1">
                            <label for="value">x 4,90 €</label>
                        </span>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="map" id="map">

    </div>
</section>

{% endblock %}

{% block scripts %}
	<script>
		var positions = [
							{% for cinema in cinemas %}
                                {% if cinema.latitude is not none and cinema.longitude is not none %}
    								{% if loop.last %}
    									{
    										latitude: {{ cinema.latitude }},
    										longitude: {{ cinema.longitude }},
    										name: "{{ cinema.name }}",
    										id: {{ cinema.id }}
    									}
    								{% else %}
    									{
    										latitude: {{ cinema.latitude }},
    										longitude: {{ cinema.longitude }},
    										name: "{{ cinema.name }}",
    										id: {{ cinema.id }}
    									},
    								{% endif %}
                                {% endif %}
							{% endfor %}
						];
		var city = {% if city is not none %} "{{ city }}" {% else %} undefined {% endif %};
	</script>

{{ super() }}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-clockpicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
<script type="text/javascript" src="http://hpneo.github.io/gmaps/prettify/prettify.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>
{% endblock %}
