{% extends "layout.html" %}
{% block title %}kinegraphus.com - Búsqueda de cines{% endblock %}

{% block content %}

<section id="search">
    <div id="results">
        <div id="filters">
            <form action="?" method="get">
                <input type="hidden" name="movie_id" value="{{ movie_id }}">

                <select name="city">
                    <option value="">Todas</option>
					{% for r in cities %}
					<option value="{{ r.city }}" {% if r.city == city %}selected{% endif %}>{{ r.city }}</option>
					{% endfor %}
				</select>

                <input type="text" id="time" name="time" value="{{ time if time != None else '00:00' }}" />
            </form>
        </div>

        <div id="cinemas">
            {% for cinema in cinemas %}
                <div class="cinema" data-id="{{ cinema.id }}">
                    <img width="100%" src="https://maps.googleapis.com/maps/api/streetview?size=400x200&location={{ cinema.street }},{{ cinema.city }}" alt="{{ cinema.name }}" />
                    <h3>{{ cinema.name }}</h3>
                    <div class="showtimes">
                    </div>
                    <div class="buy">
                        <span>
                            <input type="number" id="value" value="1">
                            <label for="value">x 4,90 €</label>
                        </span>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="map">

    </div>
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-clockpicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
