{% extends "layout.html" %}
{% block title %}kinegraphus.com - Búsqueda de películas{% endblock %}

{% block content %}

<section id="search">
    <div id="results">
        <div id="filters">
            <form action="?" method="get">
                <input type="hidden" name="cinema_id" value="{{ cinema_id }}">

                <input type="text" id="time" name="time" value="{{ time if time != None else '00:00' }}" />
                <label><input type="checkbox" id="2d" name="d2" {{ d2 if d2 != None }}/>2D</label>
                <label><input type="checkbox" id="3d" name="d3" {{ d3 if d3 != None }}/> 3D</label>
                <label><input type="checkbox" id="vose" name="vose" {{ vose if vose != None }}/> VOSE </label>

                <input type="date" name="date" value="{{ date.strftime("%Y-%m-%d") }}">
            </form>
        </div>

        <div id="movies">
            {% for movie in movies %}
                <form class="movie" data-id="{{ movie.id }}" action="/buy" method="post">
                    <input type="hidden" name="cinema_id" value="{{ cinema_id }}">
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    <input type="hidden" name="date" value="{{ date.strftime("%Y-%m-%d") }}">
                    <span>
                        <img width="100%" src="//cine.entradas.com/entradas/contenidos/peliculas/{{ movie.cartel }}" alt="{{ movie.title }}" />
                        {% if movie.imdb is not none %}
                        <a href="http://www.imdb.com/title/{{ movie.imdb }}" target="_blank"><span class="imdb-rate" data-imdbid="{{ movie.imdb }}"></span> IMDb <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
                        {% endif %}
                    </span>
                    <h3>{{ movie.title }}</h3>
                    <ul class="showtimes">
                        {{ date.strftime("%A %d/%m") }}
                        {% for time in movie.show_times %}
                            {% if time.cinema_id|int() == cinema_id|int() %}
                                <li>
                                    <input id="time-{{ time.movie_id }}-{{ time.time }}" type="radio" name="time" value="{{ time.time }}">
                                    <label for="time-{{ time.movie_id }}-{{ time.time }}">{{ time.time }}</label>
                                    <span class="fa fa-signal color{{ randoms|random }} tooltip" data-occupancy="{{ randoms|random }} %" aria-hidden="true"></span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="buy">
                        <span>
                            <input type="number" name="number" id="value" value="1">
                            <label for="value">x 4,90 €</label>
                        </span>
                        <button class="action-button" type="submit">Siguiente</button>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>

    <div class="map" id="map">

    </div>
</section>

{% endblock %}

{% block scripts %}
    <script>
        var positions = [
                            {
                                latitude: {{ cinema.latitude }},
                                longitude: {{ cinema.longitude }},
                                name: "{{ cinema.name }}",
                                id: {{ cinema.id }}
                            }
                        ];
        var city = "?";
    </script>

{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-clockpicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>

<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="//hpneo.github.io/gmaps/gmaps.js"></script>
<script type="text/javascript" src="//hpneo.github.io/gmaps/prettify/prettify.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/searchMovies.js') }}"></script>
{% endblock %}
